<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h4 class="title">about&hairsp;('Yinglai&nbsp;Yang')</h4>
      <p class="subtitle subtitle--light">Here is a shortest summary:</p>

      <p>I am a computer engineer working on autonomous driving in Germany.</p>
      <p>On this website I am sharing some private projects and insights outside of my work.</p>
      <p>All views expressed on here are my own.</p>

      <p><b>This page is still being set up and not filled with actual content!</b></p>

      <!-----<a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>----->
    </div>
  </div>
</section>
